/*Body*/

body 
{
    background: $white;
    font-family: 'Montserrat', sans-serif;


}

.center
{
    text-align: center;
    color: $usual_pink;
}
.container 
{

    padding: .5em 2em;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: $dark_blue;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 
{
    color: $alt-black;
}
.catName
{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    text-shadow: 0 0 0.1em #FFFF00, 0 0 0.2em #FFFF33, 0 0 0.3em #F2EA02, 0 0 0.4em #E6FB04, 0 0 0.6em #ff737b, 0 0 0.8em #ff737b, 0 0 1em #ff737b, 0 0 1.2em #ff737b;
    color: $white;
}

.buttons a
{
text-align: left;
color: $alt-black;
text-decoration: none;

}

.buttons a:hover
{
color: $usual_pink;


}

/*Table CSS*/
.table-container
{
    margin: 0 auto;
    height:auto;
    width:1000px;
    border: thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #eee;
}

    thead 
    {
        background-color: $dark_grey;
        color: #ff737b;
        text-align: left;
        text-transform: capitalize;
    }

    tbody tr 
    {
        height: 3em;
    }

    thead th,
    tbody td 
    {
        padding: 5px;
    }

    tbody tr:nth-child(odd) 
    {
        background-color: #eee;
    }

    tbody tr:nth-child(even) 
    {
        background-color: $turqioise;
    }
    table 
    {
        width: 100%;
        border-collapse: collapse;
        border-bottom: 2px solid #3A7B7f;
        text-align: center;
    
    }
    .del_btn
    {
        border: 3px solid $del_red;
        height: 60px;
        width: 70px;
        background-color: transparent;
        color: $alt-black;
        padding: 5%;
        font-size: 20px;
        border-radius: 10%;
    }

    .ed_btn
    {
        border: 3px solid $ed_green;
        height: 60px;
        width: 70px;
        background-color: transparent;
        color: $alt-black;
        padding: 5%;
        font-size: 20px;
        border-radius: 10%;
    }

    .ed_btn:hover
    {
        background-color: $ed_green;
        color:$alt-black;
    }
    .del_btn:hover
    {
        background-color: $del_red;
        color: $alt-black;
    }
/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form 
{
    margin: .5em 0 1em;
    text-align: center;
}

#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


  