/*Body*/

body 
{
    background: #fff;
    font-family: 'Montserrat', sans-serif;


}
.center
{
    text-align: center;
    color: #ff737b;
}
.container 
{
    /* margin-top: 0; */
    margin: 0 auto;
    padding: .5em 2em;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: $dark_blue;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 
{
    color: #333;
}

/*Table CSS*/
.table-container
{
    margin: 0 auto;
    height:auto;
    width:1000px;
    border: thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #eee;
}

    thead 
    {
        background-color: $dark_grey;
        color: #ff737b;
        text-align: left;
        text-transform: capitalize;
    }

    tbody tr 
    {
        height: 3em;
    }

    thead th,
    tbody td 
    {
        padding: 5px;
    }

    tbody tr:nth-child(odd) 
    {
        background-color: #eee;
    }

    tbody tr:nth-child(even) 
    {
        background-color: $turqioise;
    }
    table 
    {
        width: 100%;
        border-collapse: collapse;
        border-bottom: 2px solid #3A7B7f;
        text-align: center;
    
    }
/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

  