/*Body*/

body 
{
    background: #fff;
    font-family: 'Montserrat', sans-serif;


}
.center
{
    text-align: center;
    color: #ff737b;
}



.container 
{
    /* margin-top: 0; */
    width: 1000px;
    margin: 0 auto;
    padding: .5em 2em;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: $dark_blue;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 
{
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

  