/*Header*/

header 
{
    
    background-color: $dark_grey;
    color: $usual_pink;
    font-family: 'Montserrat', sans-serif;
    height: 150px;

 h1 
 {
    
    text-align: center;
    color: $turqioise;
    font-size: 30px;
}

.font-effect-neon2
{
    text-shadow: 0 0 0.1em #FFFF00, 0 0 0.2em #FFFF33, 0 0 0.3em #F2EA02, 0 0 0.4em #E6FB04, 0 0 0.6em #ff737b, 0 0 0.8em #ff737b, 0 0 1em #ff737b, 0 0 1.2em #ff737b;
    color: #fff;
}

}
