/*Header*/

header 
{
    margin: 0;
    background-color: $dark_grey;
    color: $usual_pink;
    font-family: 'Montserrat', sans-serif;
    height: 200px;

 h1 
 {
    margin: 0;
    padding: .5em 0;
    text-align: center;
    color: #ff737b;
}

}
