/*NavBar*/
nav{
    text-align: center;
    color: $usual_pink;
}

nav ul li 
{
    padding-bottom:10%;
    margin-left: 0.5vw;
    margin-bottom: 2vh;
}
section {

    padding-bottom: 1.5em;
}
ul {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
    

  }
  
  li 
  {
    float:left;  
  }
  
  li a {
    display: block;
    color: $usual_pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    margin-left: 3%;

  }
  .active
{
font-size: 10px;
}
  
  li a:hover
   {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #ff737b, 0 0 0.3em #ff737b, 0 0 0.4em #ff737b, 0 0 0.6em #ff737b, 0 0 0.8em #ff737b, 0 0 1em #ff737b, 0 0 1.2em #ff737b;
    color: #fff;
  }
  .form
  {
    float: right;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
 