/*variables*/
$usual_pink : #ff737b;
$face_grey : #898F9C;
$face_black: #000000;
$dark_grey: #2B3238;
$light_grey :#aaaaaa;
$turqioise: #3A7B7f;
$alt_black: #333;
$dark_blue: #2B373D;
$white: #fff;
$del_red: #dc3545;
$ed_green: #00FF00;
